
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
    }
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    text-transform: uppercase;
    font-family: "Baskerville", serif;
    background-color: white;
}

.nav a{
    font-size: 1.1rem;
    letter-spacing: 0px;
}

.navbar-brand img {
    font-weight: 500;
    height: 20px;
    margin-top: -5px;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-toggle {
    font-size: 16px;
    color: #898989;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 5px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: white;
        -webkit-transition: background .2s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .5s ease-in-out;
        transition: background .2s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 5px 0;
        background-color: white;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #898989;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: white;
    border-bottom: none;
    color: #333;
}

.navbar-default .navbar-nav>li>a.header-preorder-cta, .navbar-default .navbar-nav>li>a.navbar-cta {
    font-weight: 800;
    color: #555;
}

.navbar-default .navbar-nav>li>a.header-preorder-cta:hover, .navbar-default .navbar-nav>li>a.header-preorder-cta:focus {
    border-bottom: none;
    background-color: #237beb;
}

.navbar-default .navbar-toggle {
    border: none;
}